<% provide(:title, "Dashboard") %>
<div class="row">
  <div class="col-sm-6">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-chart-area mr-1"></i>
        Group by sum of user's transaction amount
      </div>
      <div class="card-body">
        <%= bar_chart Transaction.group(:remitter_account).sum(:amount) %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-chart-area mr-1"></i>
        Timeline of creating users
      </div>
      <div class="card-body">
        <%= column_chart User.group_by_day(:created_at).count %>
      </div>

    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-chart-area mr-1"></i>
        Timeline of opening accounts
      </div>
      <div class="card-body">
        <%= line_chart BankAccount.group_by_day(:created_at).count %>
      </div>

    </div>
  </div>
  <div class="col-sm-6">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-chart-area mr-1"></i>
        Group by sum of user's balance
      </div>
      <div class="card-body">
        <%= pie_chart BankAccount.group(:user_id).sum(:amount) %>
      </div>
    </div>
  </div>



</div>
