<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag "l_page" %>
</head>

<body>


<div class="main">



<h1> Quail bank fees!</h1>

<p>Here you can find our fees.</p>
<br/>
<p> More random text bla bla, copy from somewhere</p>
<br/>
<p>If you need any help feel free to contact us:</p>

<div>


</body>
<html>