<div class="row justify-content-center mt-40 mb-40">
    <div class="col-md-8 text-center static-pages border border-light rounded " >

    <div class="whitebackground">
        <h1> Quail Bank fees</h1><br>
        <h3>Here you can find about our fees.</h3>
        <br/>
        <h4>Are you saving money for a new house?</h4>

        <p> Keep your money with us - save thousands</p>

        <ul>
            <li>2% annual interest</li>
            <li>No charge</li>
            <li>Extra 100 GBP for every year</li>
        </ul>

        <div class="row justify-content-center p-10">
            <div class="col-md-4 p-10 static-small-modals border border-light rounded containerheight">
                <h3>Apply for Personal Loan </h3>
                <hr/>
                <span class="glyphicon glyphicon-euro mb-40""></span>
            </div>
            <div class="col-md-4 p-10 static-small-modals border border-light rounded containerheight">
                <h3>Managing your loan</h3>
                <hr/>
                <i class="glyphicon glyphicon-cloud mb-40"" aria-hidden="true"></i> 
               
            </div>
        </div>
</div>

        
        <div class="information mt-40">

        <img src="<%= image_path("house.jpg") %>" class="image">
            <div class=" textmt-40">
                <br/>
                <h3>Use our saving account without any fees and 2% annual interest</h3>
                <h3>We offer many advantages for who wants to buy a house where your family could live.
                Have you ever dreamed about living in a big mansion but afraid that it might too expensize?</h3>
                <h3>Now it's not a dream anymore,apply for the house loan,you could<br> 
                buy your dream house and comfortly living wiht you family and with your kids runnign arround and playing
                </h3>
            </div>
        </div>
    </div>
</div>


