<!DOCTYPE html>
<html>
  <head>
</head>

<body>


<div class="main">



<h1> Quail bank fees!</h1><br>
<h3>Here you can find our fees.</h3>

<div class="information">
<img class="image" src="/assets/House.jpg" >
<div class="text">

<br/>
<p> Are you saving money for a new house?<br>
Use our saving account without nay fees and 2% annual interest
We offer many advantages for who wants to buy a house where your family could live.
Have you ever dreamed about living in a big mansion but afraid that it might too expensize?<br>
Now it's not a dream anymore,apply for the house loan,you could<br> 
buy your dream house and comfortly living wiht you family and with your kids runnign arround and playing:



</p>
</div>

</div>


<div>


</body>
<html>