

<div class="row justify-content-center mt-20 mb-40">
    <div class="col-md-8 text-left static-pages border border-light rounded" >

<div>
<img src="<%= image_path("hands.jpg") %>" class="imgfix dim">
<div class="bottom-left">
<h1>We're here to help you for any query you have</h1>
<h2>Contact us by email or the number provided below</h2>
<h3>+00 1234 5678910</h3>
</div>
</div>

<form>

<div class="whitebackground">

<div class="form-group mt-20">
  <label for="form_name">Firstname </label><br>
  <input>
</div>


<div class="form-group mt-20">
    <label for="form_lastname">Lastname </label><br>
   <input >
</div>


<div class="form-row mt-20">
    <div class="form-group col-md-6">
    <label>Email</label><br>
    <input>
    </div>
</div>

<div >
<textarea class="col-md-8 form-row mt-20 mb-40 "  placeholder="Write your query..." ></textarea>
</div>

<div class="mb-40">
  <button type="submit" class="btn btn-primary mt-40 mb-40 ml-40">Send</button>
</div>

</form>

</div>
</div>
</div>


