<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag "l_page" %>
</head>

<body>



<div class="main">

<h1> Invest with Quail bank!</h1>

<p>We offer the best rates in the market the best returns and etc!</p>

<br/>
<p> More random text bla bla, copy from somewhere</p>

</div>

</body>
</html>