<!DOCTYPE html>
<html>
  <head>
</head>

<body>



<div class="main">


<h1> Invest with Quail bank!</h1>

<p>We offer the best rates in the market the best returns</p>


<div class="information">





<div class="text">
<h2>The bank for your needs</h2><br>
<p>We offer one of the best services and customer service around the globe<p>
<p>Do you want  to start investing in forex and the share market?  <br>
Join our bank and you will have acces to all kind of tools to becama the trader you<br>
alwasy wanted.
</p>
</div>
<img class="image" src="/assets/stock.jpg" >
</div>


</div>

</body>
</html>