<div class="row justify-content-center mt-40 mb-40">
    <div class="col-md-8 text-center static-pages border border-light rounded " >

    <div class="whitebackground">
        <h1> Invest with Quail bank</h1><br>
        <h3>Here you can find about our advantages.</h3>
        <br/>
        <h3>Did you just start trading?</h3>

        <h4> Invest with us - earn more</h4>

        <ul>
            <li>No hidden fees</li>
            <li>No charge</li>
            <li>Start with only 10$</li>
        </ul>

        <div class="row justify-content-center p-10">
            <div class="col-md-4 p-10 static-small-modals border border-light rounded containerheight">
                <h3>Explore our powerful tools </h3>
                <hr/>
                <span class="glyphicon glyphicon-euro"></span>
            </div>
            <div class="col-md-4 p-10 static-small-modals border border-light rounded containerheight">
                <h3>Managing your stocks and forex</h3>
                <hr/>
                <i class="glyphicon glyphicon-cloud mb-40" aria-hidden="true"></i> 
            </div>

            </div>
        </div>
        <div class="information">
            <img src="<%= image_path("stock.jpg") %>" class="image">
            <div class="text">
            <p>No fees up to 100.000$ </p>
            <p>We offer many tools for who starts trading with us like an emulator for your investments<br>
            Have you ever wished making thousands of dollars per day wihtout worrying about losing?</p>
            <p>Now you can do with us,we send a notification whenver a stock you bought start losing value,<br> 
            it will be automatiacally sold so you won;t have any losses.
            </p>
            </div>
        </div>
    </div>
</div>