<div class="header">
  <h1>My Bank</h1>
  <p>Welcome to My Bank. Please LogIn below.</p>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-4">
      <%= link_to 'User LogIn', {:controller => 'sessions', :action => 'login'}, class: "btn btn-primary" %>
    </div>
    <div class="col-xs-4">
        <%= link_to 'Admin LogIn', {:controller => 'admin/sessions', :action => 'new'}, class: "btn btn-primary" %>
    </div>
  </div>
</div>
   