/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "bootstrap/scss/bootstrap";
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 
*{
  font-family: 'Open Sans', sans-serif;
}

$blue:#00065a;

.background-image {
  max-width: 100%;
  max-height: 100%;
  height: 700px;
  filter: brightness(70%);
}

.whitebackground{
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: white;
  padding:30px ;
}

.carouselbuttons{
  top: 80%;
  width: 60px;
}

.blacktext{
color: black;
}

.mr-40{
  margin-right: 40px;
}

.mt-40{
  margin-top: 40px;
}

.mt-20{
  margin-top: 20px;
}

.mb-40{
  margin-bottom: 40px;
}

.ml-40{
  margin-left: 40px;
}

.bottom-left {
  position: absolute;
  top: 30%;
  left: 4%;
  color: white;
}

.dim{
  filter: brightness(70%);
}

.sessionbackground {
  background-image: linear-gradient(to bottom, rgb(0, 6, 90), rgb(18, 18, 41));
}

.adminsessionbackground {
  background-image: linear-gradient(to bottom, #478eff, #1055c4);
}


.login{
  color:black;
  padding: 20px;
}

.loginform{
  background-color: white;
  border: 2px grey;
  position: absolute;
  top: 10%;
  right: 5%;
  width: auto;
  height: auto;
}

.loginform2{
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 20px;
  height: auto;

}
.logo{
  cursor: pointer;
  width:auto;
  height:50px;
  margin-left: 17%;
}

.login-logo{
  width:auto;
  height:100px;
  margin: auto;
}

.sidebar {
  height: 400px; 
  left: 0;
  border-radius: 10px;
  position: fixed;
  background-color: $blue; 
  padding-top: 20px;
}

/* The navigation menu links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  margin-top: 20px;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #b8b8b8;
  font-size: 16px;
  background-color: #070d5c;
  text-decoration: none;
}

/* Style page content */
.main {
  margin-left: 20px; /* Same as the width of the sidebar */
  padding: 20px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidbar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


.information{
  margin-top: 30px;
  font-size: 15px;
  font-weight: normal;
  padding: 15px;
  display: inline-block;  
  vertical-align: middle;
}

  .text{
    font-size: 17px;
  }

.account{
  padding: 20px 20px 20px 20px;

}

.table{
  margin-top: 30px;
  border-collapse:collapse;
  width: 100%;
  border: 1px solid gray;
  
}

td,th{
  border: 1px solid gray;
  text-align: left;
  padding: 10px 10px 10px 10px;
}

.recenttransaction{
  margin-top: 40px;
  padding: 20px 20px 20px 20px;

}

.transactions{
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
  display:inline-block;

}

button{
  margin-top: 20px;
  width: 200px;
  background-color: rgb(211, 220, 224);
  height: 35px; 
  margin-bottom: 20px;
}

button:hover{
  background-color: rgb(173, 199, 211);
  height: 35px;
}

  button a:link{
    text-decoration: none;
    color: white;
  }

/*
  .newTransfer {
  color: black;
  font-style: normal;
  padding: 20px 40px 40px 20px;
  margin-top: 10px;
  }
*/

.navbar-nav>a{
  margin-right: 4px;
  margin-left: 4px;
  color: white;
}

.static-pages {
  background: rgba(233, 233, 233, 0.671);
  border-radius: 2;
}

.static-small-modals{
  background: rgba(182, 178, 178, 0.815);
  border-radius: 2;
}

.imgfix {
  width: 100%;
  height: auto;
  padding-top: 20px;
}

 .buttonsize{
   width:100px;
   height: 45px;
 }

 .containerheight{
   height: 150px;
 }
 
.image{
  box-shadow:  3px 3px 5px 6px #ccc;
  border: 1px grey;
  padding: 20px 20px 20px 20px;
  width:auto;
  height:300px; 
  transform: rotate(5deg)
}
.image,.text{
  display: inline-block;
  margin: 15px;
  vertical-align: middle;
}

.col a:link{
  text-decoration:none;
  padding: 4px 4px 4px 4px;
} 


.col a:link:hover{
  text-decoration:none;
  font-size: 18px;
} 
