@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');


*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-style: normal;
font-family: sans-serif;

} 
































.login{
    color: black;
    font-style: normal;
    font-family: sans-serif;
    padding: 20px 40px 40px 20px;
}



.loginform{
    border: 1px solid black;
    padding: 40px 40px 20px 40px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(176, 176, 209));
    border-radius: 20px;
    opacity: 95%;
    margin-left: 400px;
    margin-right: 400px;
}


.background{
    padding: 40px 40px 40px 40px;
    background-image: linear-gradient(to bottom, rgb(0, 6, 90), rgb(18, 18, 41));
    font-style: normal;
    font-family: sans-serif;
}


.navigationbar
{
    background-color: white;
    border-bottom: rgb(0, 6, 90);
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px ;


}

.logo
{
    cursor: pointer;
    width:auto;
    height:80px;
}

.nav__links{
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    background-color: none;
}

.nav__links li a:link{
    text-decoration:none;
    padding: 4px 4px 4px 4px;
} 

.nav__links li{
    display: inline-block;
    padding:0px 15px;
    margin-left: 3px;
    color: black;
    font-style: normal;
    font-family: sans-serif;
}

.nav__links li a:hover{
    text-decoration:none; 
    font-weight: bold;
    margin-left: -3px;
}

.loginlink{
    
    border: 2px solid rgb(130, 47, 148);
    border-radius: 5px;
    
   
}

p{

    margin-top: 30px;
}
.sidenav {
    margin-top: 100px;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(0, 16, 85); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
    margin-top: 20px;
    font-family: sans-serif;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #b8b8b8;
    font-size: 16px;
    background-color: rgb(15, 31, 100);
  }
  
  /* Style page content */
  .main {
    margin-left: 220px; /* Same as the width of the sidebar */
    padding: 20px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  

  .information{
    margin-top: 30px;
    font-size: 15px;
    font-weight: normal;
    padding: 15px ;
    margin-left: 60px;
    display: inline-block;  
    vertical-align: middle;
    font-family:serif;
    }

    .text{
      font-family:serif;
      font-size: 17px;
    }
  
  .account{
    padding: 20px 20px 20px 20px;
  
  }
  
  .table{
    margin-top: 30px;
    border-collapse:collapse;
    width: 100%;
    border: 1px solid gray;
    
  }
  
  td,th{
    border: 1px solid gray;
    text-align: left;
    padding: 10px 10px 10px 10px;
  }
  
  .recenttransaction{
    margin-top: 40px;
    padding: 20px 20px 20px 20px;
  
  }
  
  .transactions{
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    display:inline-block;
  
  }
  
  button{
    margin-top: 20px;
    width: 200px;
    background-color: rgb(211, 220, 224);
    height: 35px; 
    margin-bottom: 20px;
  }
  
  button:hover{
    background-color: rgb(173, 199, 211);
    height: 35px;
  }
  
   button a:link{
     text-decoration: none;
     color: white;
   }


   .newTransfer {
    color: black;
    font-style: normal;
    font-family: sans-serif;
    padding: 20px 40px 40px 20px;
    margin-top: 10px;
   }

  .i{
    margin-top: 30px;
  }

  .image{
    width:auto;
     height:300px; 
  }