


.login{
    color: black;
    font-style: normal;
    font-family:serif;
}



.loginform{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to bottom, white, #ffffff);
    border-radius: 5%;
    margin-left: 1000px;
    margin-right: 0px;
    opacity: 90%;
    border: 0px;
    font-size: 16px;
    font-family:serif;

}


.background{
    padding: 40px 40px 40px 40px;
    height: 700px;
    background-image: url(quail.jpg);
    margin-top: 0px ;
    font-family:serif;
    width: 100%;
    
}

.bank{


    font-weight: bold;
    font-size: 30px;
    color:white;
    padding:  30px 30px 30px 30px ;
    margin-top: 200px;
    margin-right: 700px;
    font-family:serif;


}
.small{
  font-weight: normal;
  font-size: 17px;
}


.information{
margin-top: 30px;
font-size: 15px;
font-weight: normal;
padding: 15px ;
margin-left: 60px;
display: inline-block;  
vertical-align: middle;
font-family:serif;
}

.image{
  box-shadow:  3px 3px 5px 6px #ccc;
}
.image,.text{
  display: inline-block;
  margin: 15px;
  vertical-align: middle;


}
.text{
  font-family:serif;
  font-size: 17px;
}

.col a:link{
  text-decoration:none;
  padding: 4px 4px 4px 4px;
} 


.col a:link:hover{
  text-decoration:none;
  font-size: 18px;
} 