<!DOCTYPE html>
<html>
  <head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag "l_page" %>
</head>
<body>
<% provide(:title, "Dashboard") %>


<div class="main">
<p>dgfahwejaskhjdbv,sgufhi</p>
</div>



<body>
</html>