<% provide(:title, "Dashboard") %>
<h1>Welcome USER</h1>
<p>Some important information and etc.</p>
<p>Some important information and etc.</p>
<p>Some important information and etc.</p>
<%= link_to "Dashboard/My bank accounts", bank_accounts_path, class: "btn btn-primary"%>
<h1>Some important information and etc.</h1>
<p>Some important information and etc.</p>
<p>Some important information and etc.</p>
